{% extends 'layout.html.twig' %}
{% block title %}Edit Sales Order{% endblock %}

{% block content %}

    <main class="main-body">
        <form action="{{ action_update_so }}" method="post" onsubmit="return checkForm(this);">
            <div class="container-row">
                <h1 class="big-title">Edit Sales Order</h1>

            </div>


            <div class="row-col-inputs">

                <div class="col-inputs shadow shell" id="so-items">

                    <div class="input-container">

                        <div class="row">
                            <h2 class="col-title">Selected Items</h2>
                            <a id="addItem" class="button-small addItem">
                                <i class="fas fa-plus plus"></i>
                                <span class="btn-text">Add Item</span>
                            </a>
                        </div>

                        <div class="line-blue"></div>


                    </div>


                    <div class="input-container">

                        <div class="scroll-container">

                            <table>

                                <tr class="table-titles">
                                    <th class="button-sort sort name" data-sort="name">Name<i
                                                class="arrow fas fa-angle-up"></i>
                                    </th>
                                    <th class="button-sort sort sku" data-sort="sku">SKU<i
                                                class="arrow fas fa-angle-up"></i>
                                    </th>
                                    <th class="button-sort sort purchasePrice" data-sort="purchasePrice">Purchase Price<i
                                                class="arrow fas fa-angle-up"></i>
                                    </th>
                                    <th class="text-center quantity" data-sort="quantity">Quantity</th>
                                    <th class="text-center amount" data-sort="amount">Amount</th>
                                    <th class="text-center"></th>
                                </tr>

                                <tbody class="list">


                                {% for item in real_items_array %}

                                    <tr>
                                        <td class="">{{ item[0]['item_name'] }}</td>
                                        <td class="">{{ item[0]['sku'] }}</td>
                                        <td class="">{{ item[0]['purchase_price'] }}</td>
                                        <td class="text-center">{{ item[0]['quantity'] }}</td>
                                        <td class="text-center">£{{ item[0]['selling_price'] * item[0]['quantity'] }}</td>
                                        <td class="text-center">
                                            <a onclick="window.location='/wms/index.php/removeorderitem/{{ item[0]['ID'] }}';">
                                                <div id="removeItem" class="remove-item"><i class="far fa-trash-alt"></i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                <tr></tr>
                                <tr></tr>


                                <tr class="no-hover">
                                    <td class=""><h3>Total Items</h3></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class="text-center"></td>
                                    <td class="text-center blue">{{ total_quantity }}</td>
                                    <td class="text-center"></td>
                                </tr>

                                <tr class="no-hover">
                                    <td class=""><h2>Total Amount</h2></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class="text-center"></td>
                                    <td class="text-center blue"><h2 class="blue">£{{ total_amount }}</h2></td>
                                    <td class="text-center"></td>
                                </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>


                <div class="col-inputs shadow shell">

                    <div class="input-container">
                        <h2 class="col-title">General Information</h2>
                        <div class="line-blue"></div>
                    </div>

                    <div class="input-container">
                        <div class="input-field ">
                            <label>Customer</label>

                            <select class="" name="customer">

                                {% for o in the_order %}

                                    <option value="{{ o['customer_id'] }}">{{ o['customer_name'] }}
                                    </option>

                                {% endfor %}
                                {% for customer in customers_array %}

                                    <option value="{{ customer['ID'] }}">{{ customer['first_name'] }} {{ customer['last_name'] }}
                                        - "{{ customer['company_name'] }}"
                                    </option>

                                {% endfor %}
                            </select>

                        </div>

                        <span class="input-info"><i class="question-mark far fa-question-circle"></i>Please select a customer</span>
                    </div>

                    {% for o in the_order %}
                        <div class="input-container">
                            <label for=""> Sales Order ID</label>
                            <input class="" value="{{ o["so_number"] }}" type="text" name="orderID" readonly>
                        </div>

                        <div class="input-container">
                            <label for=""> Date</label>
                            <input class="" type="date" name="date" value="{{ o["so_date"] }}">
                            <span class="input-info"><i class="question-mark far fa-question-circle"></i>Please Select SOdate</span>
                        </div>

                        <div class="input-container">
                            <button type="submit">Update</button>

                            <a class="button button-red" onclick="window.location='/wms/index.php/deletesalesorder/{% for item in real_items_array %} {{ item[0]['ID'] }} {% endfor %}';">
                                Delete </a>
                        </div>

                    {% endfor %}

                </div>

            </div>

        </form>

    </main>



    <!-- The Modal -->
    <div id="Modal" class="Modal">
        <!-- Modal content -->
        <div class="modal-content shell shadow">
            <!--     <span class="close">&times;</span> -->
            <div class="input-container">
                <h1 class="big-title">Add Item</h1>
            </div>

            <form action="{{ action_add_item_to_list }}" method="post">
                <div class="input-container">
                    <label for="">Item</label>
                    <select name="item">
                        {% for item in items_array %}

                            <option value="{{ item['ID'] }}">{{ item['item_name'] }} - {{ item['sku'] }}
                                ({{ item['stock'] }})
                            </option>

                        {% endfor %}
                    </select>
                    <span class="input-info"><i
                                class="question-mark far fa-question-circle"></i>Please select an item</span>
                </div>

                <div class="input-container">
                    <label for=""> Quantity</label>
                    <input type="text" name="quantity">
                    <span class="input-info"><i
                                class="question-mark far fa-question-circle"></i>Please enter quantity</span>
                </div>

                <div class="input-container">
                    <button type="submit"><i class="fas fa-plus plus"></i>Add Item</button>
                </div>


            </form>

        </div>
    </div>



{% endblock %}